
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: url("/background.jpeg") center center/cover no-repeat fixed;;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

section{
    padding:100px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title h2{
    font-size:42px;
    font-weight:600;
}

/* NAVBAR */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2F3E46;
    border-bottom: 2px solid #84A98C;
    z-index: 999;
}
.navbar{
    max-width:1200px;
    margin:auto;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
}
.logo{
    font-size:30px;
    font-weight:700;
    color: #84A98C;
}
.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}
.nav-links a{
    color: #ffffff; 
    font-size:16px;
    position:relative;
    transition:.3s;
}
.nav-links a:hover{
    color: #84A98C;
}
.nav-links a::after{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    background: #84A98C;
    left:0;
    bottom:-6px;
    transition:.3s;
   
}
.nav-links a:hover::after{
    width:100%;
}
/* HERO */
.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    padding-top:120px;
}
.hero-text{
    flex:1;
}
.hero-text h3{
    color:#5B6B73;
    font-size:22px;
    margin-bottom:10px;
}

.hero-text h1{
    color:#2F3E46;
    font-size:72px;
    line-height:1.1;
    margin-bottom:15px;
}

.hero-text h2{
    font-size:30px;
    color:#37463a;
    margin-bottom:25px;
}

.hero-text p{
    color:#3c3a3a;
    line-height:1.8;
    max-width:550px;
}

.hero-btn{
    margin-top:40px;
    display:flex;
    gap:20px;
}

/* Buttons */

.btn{
    background: #84A98C;
    color: #ffffff;
    padding:15px 38px;
    border-radius:50px;
    transition:.3s;
}

.btn:hover{
    background: #2F3E46;
    color:#ffffff;
    border:none;
    border:1px solid #111;
}

.btn-outline{
    border: 2px solid #84A98C;
    color: #84A98C;
    padding:15px 38px;
    border-radius:50px;
    transition:.3s;
}

.btn-outline:hover{
    background:  #2F3E46;
    color: #ffffff;
}

/* Image */

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:420px;
    height:520px;
    object-fit:cover;
    border-radius:25px;
    border:3px solid #84A98C;
}

/* ABOUT*/

.about-content{
    max-width:900px;
    margin:auto;
}

.about-content p{
    text-align:center;
    color:#3c3a3a;
    line-height:2;
    font-size:25px;
}
/* SKILLS */

 .skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skill{
    background:#ffffff;
    border:1px solid #84A98C;
    color:#2F3E46;
    padding:20px;
    border-radius:12px;
    text-align:center;
    font-size:16px;
    font-weight:600;
    transition:.4s ease;
    cursor:pointer;
}

.skill:hover{
    background:#84A98C;
    color:#ffffff;
    transform:translateY(-5px);
}

/* EDUCATION */

.education-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.education-card{
    background:#ffffff;
    border:1px solid #84A98C;
    border-radius:18px;
    padding:30px;
    transition:.4s ease;
}

.education-card:hover{
    transform:translateY(-10px);
    border-color:#2F3E46;
    box-shadow:0 15px 40px rgba(47,62,70,0.15);
}

.education-card h3{
    font-size:24px;
    color:#2F3E46;
    margin-bottom:10px;
}

.education-card h4{
    font-size:18px;
    color:#84A98C;
    margin-bottom:12px;
    font-weight:500;
}

.education-card p{
    color:#555;
    line-height:1.7;
    margin-bottom:15px;
}
.education-card span{
    display:inline-block;
    padding:8px 18px;
    background:#84A98C;
    color:#fff;
    border-radius:30px;
    font-size:14px;
    font-weight:500;
}
/* CONTACT*/
.contact-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

.contact-info{
  width:100%;
  max-width:700px;
  display:grid;
  gap:20px;
}

.contact-box{
  background:#ffffff;
  border:1px solid #84A98C;
  border-radius:15px;
  padding:20px 25px;
  transition:.3s ease;
}

.contact-box:hover{
  background:#2F3E46;
  color:#ffffff;
  transform:translateY(-5px);
}


.contact-box h3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-box:hover h3{
  color:#ffffff;
}

.contact-box p{
  color:#555;
  font-size:16px;
}

.contact-box:hover p{
  color:#ffffff;
}
/* Contact Form */

.form-container{
    max-width:700px;
    margin:auto;
}

.form-container form{
    display:flex;
    flex-direction:column;
}

.form-container label{
    font-size:16px;
    font-weight:600;
    color:#2F3E46;
    margin-bottom:8px;
}

.form-container input,
.form-container textarea{
    width:100%;
    padding:14px;
    border:1px solid #84A98C;
    border-radius:8px;
    margin-bottom:20px;
    outline:none;
    font-size:16px;
}

.form-container textarea{
    height:160px;
    resize:none;
}

.form-container button{
    width:200px;
    padding:15px;
    background:#2F3E46;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.form-container button:hover{
    background:#84A98C;
}
/*FOOTER */

footer{
    background:#2F3E46;
    color:#ffffff;
    border-top:none;
    margin-top:100px;
    padding:35px;
    text-align:center;
   
   
}


/* RESPONSIVE */

@media(max-width:992px){

.hero{
    flex-direction:column-reverse;
    text-align:center;
}

.hero-text p{
    margin:auto;
}

.hero-btn{
    justify-content:center;
}

.hero-image img{
    width:330px;
    height:420px;
}

.hero-text h1{
    font-size:55px;
}

}

@media(max-width:768px){

.navbar{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.nav-links{
    margin-top:20px;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero{
    padding-top:170px;
}

.hero-text h1{
    font-size:42px;
}

.hero-text h2{
    font-size:24px;
}

.hero-image img{
    width:280px;
    height:360px;
}

.hero-btn{
    flex-direction:column;
    align-items:center;
}

.btn,
.btn-outline{
    width:220px;
    text-align:center;
}

.section-title h2{
    font-size:34px;
}

.project-grid{
    grid-template-columns:1fr;
}

.skills-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:480px){

.skills-grid{
    grid-template-columns:1fr;
}

.hero-text h1{
    font-size:34px;
}

.hero-image img{
    width:230px;
    height:300px;
}

}