.tech-section{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:100px 0;
    text-align:center;
}

.tech-section h2{
    font-size:3rem;
    color:var(--text-primary);
    margin-bottom:20px;
}

.tech-section p{
    color:var(--text-secondary);
    max-width:700px;
    margin:auto;
    line-height:1.8;
    margin-bottom:60px;
}

.tech-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:25px;
}

.tech-card{
    background:var(--card);
    backdrop-filter:blur(20px);
    border:1px solid var(--glass-border);
    border-radius:18px;
    padding:35px 20px;
    transition:.4s;
    cursor:pointer;
}

.tech-card:hover{
    transform:translateY(-10px);
    border-color:var(--primary);
    box-shadow:0 0 30px var(--glow);
}

.tech-icon{
    font-size:55px;
    color:var(--accent);
    margin-bottom:18px;
    transition:.4s;
}

.tech-card:hover .tech-icon{
    color:var(--highlight);
    transform:rotate(8deg) scale(1.15);
}

.tech-card h3{
    color:var(--text-primary);
    font-size:20px;
}